
<header id="header" class="header">
  <div class="container header_wrap" data-header-inner>
    <a href="{{ site.url }}" class="header_logo hoverable">
      <img src="{{ site.theme.link }}/public/logo.svg" alt="Logo Bertone" />
    </a>

    <div class="corner-left">
      <svg width="65" height="36" viewBox="0 0 65 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 36V2.00001L64.2942 0.875015L64 9.94401L38.5885 9.75002C29.0169 9.75895 19.7863 12.4425 12.6656 17.2864C5.54489 22.1303 1.03491 28.7938 0 36Z" fill="white"/>
      </svg>
    </div>
    <div class="corner-right">
      <svg width="65" height="36" viewBox="0 0 65 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 36V2.00001L64.2942 0.875015L64 9.94401L38.5885 9.75002C29.0169 9.75895 19.7863 12.4425 12.6656 17.2864C5.54489 22.1303 1.03491 28.7938 0 36Z" fill="white"/>
      </svg>
    </div>
  </div>
</header>

<button type="button" class="menu-btn hoverable" js-menu-btn>
  <span></span>
  <span></span>
  <span></span>
</button>
<nav class="menu-pop" js-menu>
  <ul class="menu-list">
  {% for item in menu.items %}
      <li class="menu-item {{ item.classes|join(' ') }}">
        <a class="menu-link hoverable" href="{{ item.link }}">{{ item.title }}</a>
      </li>
  {% endfor %}
  </ul>

  <div class="menu-social">
    <a href="https://www.instagram.com/bertone.heritage" class="hoverable" target="_blank">
      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.3358 9.5C18.3358 11.4089 18.3358 12.6963 18.2931 13.4065C18.2077 15.1378 17.7381 16.4696 16.7987 17.4019C15.8594 18.3341 14.6211 18.8668 12.9559 18.9556C12.2727 19 10.9918 19 9.19844 19C7.36242 19 6.12417 19 5.441 18.9556C3.77577 18.8668 2.49483 18.3785 1.59817 17.4019C0.701507 16.4696 0.18913 15.1378 0.103733 13.4065C0.0610351 12.6963 0.0610352 11.3645 0.0610352 9.5C0.0610352 7.63551 0.0610351 6.30374 0.103733 5.59346C0.18913 3.86215 0.658809 2.53037 1.59817 1.59813C2.49483 0.665888 3.77577 0.133178 5.441 0.0443925C6.12417 -4.29975e-08 7.40512 0 9.19844 0C11.0345 0 12.2727 -4.29975e-08 12.9559 0.0443925C14.6211 0.133178 15.902 0.621495 16.7987 1.59813C17.6954 2.57477 18.2077 3.86215 18.2931 5.59346C18.2931 6.30374 18.3358 7.59112 18.3358 9.5ZM10.0951 1.68692C9.54002 1.68692 9.24114 1.68692 9.19844 1.68692C9.15574 1.68692 8.85685 1.68692 8.30178 1.68692C7.7467 1.68692 7.31972 1.68692 7.06353 1.68692C6.76465 1.68692 6.38036 1.68692 5.91068 1.73131C5.441 1.73131 5.01402 1.7757 4.67244 1.86449C4.33085 1.90888 4.03196 1.99766 3.81847 2.08645C3.43419 2.26402 3.0926 2.48598 2.75102 2.79673C2.45213 3.10748 2.23864 3.46262 2.06785 3.90654C1.98245 4.1285 1.89706 4.43925 1.85436 4.79439C1.81166 5.14953 1.76896 5.54907 1.72626 6.08178C1.72626 6.57009 1.68356 6.96963 1.68356 7.28037C1.68356 7.59112 1.68356 8.03505 1.68356 8.56776C1.68356 9.14486 1.68356 9.45561 1.68356 9.5C1.68356 9.54439 1.68356 9.85514 1.68356 10.4322C1.68356 11.0093 1.68356 11.4533 1.68356 11.7196C1.68356 12.0304 1.68356 12.4299 1.72626 12.9182C1.72626 13.4065 1.76896 13.8505 1.85436 14.2056C1.93975 14.5607 1.98245 14.8715 2.06785 15.0935C2.23864 15.493 2.45213 15.8481 2.75102 16.2033C3.04991 16.514 3.39149 16.736 3.81847 16.9136C4.03196 17.0023 4.33085 17.0911 4.67244 17.1355C5.01402 17.1799 5.3983 17.2243 5.91068 17.2687C6.42306 17.3131 6.76465 17.3131 7.06353 17.3131C7.36242 17.3131 7.7894 17.3131 8.30178 17.3131C8.85685 17.3131 9.15574 17.3131 9.19844 17.3131C9.24114 17.3131 9.54002 17.3131 10.0951 17.3131C10.6502 17.3131 11.0772 17.3131 11.3333 17.3131C11.6322 17.3131 12.0165 17.3131 12.4862 17.2687C12.9559 17.2687 13.3829 17.2243 13.7244 17.1355C14.066 17.0911 14.3649 17.0023 14.5784 16.9136C14.9627 16.736 15.3043 16.514 15.6459 16.2033C15.9447 15.8925 16.1582 15.5374 16.329 15.0935C16.4144 14.8715 16.4998 14.5607 16.5425 14.2056C16.5852 13.8505 16.6279 13.4509 16.6706 12.9182C16.6706 12.4299 16.7133 12.0304 16.7133 11.7196C16.7133 11.4089 16.7133 10.965 16.7133 10.4322C16.7133 9.85514 16.7133 9.54439 16.7133 9.5C16.7133 9.45561 16.7133 9.14486 16.7133 8.56776C16.7133 7.99065 16.7133 7.54673 16.7133 7.28037C16.7133 6.96963 16.7133 6.57009 16.6706 6.08178C16.6706 5.59346 16.6279 5.14953 16.5425 4.79439C16.4998 4.43925 16.4144 4.1285 16.329 3.90654C16.1582 3.50701 15.9447 3.15187 15.6459 2.79673C15.347 2.48598 15.0054 2.26402 14.5784 2.08645C14.3649 1.99766 14.066 1.90888 13.7244 1.86449C13.3829 1.82009 12.9986 1.7757 12.4862 1.73131C12.0165 1.73131 11.6322 1.68692 11.3333 1.68692C11.0772 1.68692 10.6502 1.68692 10.0951 1.68692ZM12.4862 6.03738C13.3829 6.96963 13.8525 8.12383 13.8525 9.5C13.8525 10.8762 13.3829 11.986 12.4862 12.9626C11.5895 13.8949 10.4794 14.3832 9.15574 14.3832C7.8321 14.3832 6.76464 13.8949 5.82529 12.9626C4.92862 12.0304 4.45894 10.8762 4.45894 9.5C4.45894 8.12383 4.92862 7.01402 5.82529 6.03738C6.72195 5.10514 7.8321 4.61682 9.15574 4.61682C10.4794 4.61682 11.5895 5.06075 12.4862 6.03738ZM11.3333 11.7196C11.9311 11.0981 12.23 10.3435 12.23 9.5C12.23 8.65654 11.9311 7.85748 11.3333 7.23598C10.7356 6.61449 10.0097 6.30374 9.15574 6.30374C8.30178 6.30374 7.57591 6.61449 6.97814 7.23598C6.38036 7.85748 6.08147 8.61215 6.08147 9.5C6.08147 10.3879 6.38036 11.1425 6.97814 11.7196C7.57591 12.3411 8.30178 12.6519 9.15574 12.6519C10.0097 12.6519 10.7356 12.3411 11.3333 11.7196ZM14.8346 3.59579C15.0481 3.81776 15.1762 4.08411 15.1762 4.39486C15.1762 4.70561 15.0481 4.97196 14.8346 5.19393C14.6211 5.41589 14.3649 5.54907 14.066 5.54907C13.7671 5.54907 13.511 5.41589 13.2975 5.19393C13.084 4.97196 12.9559 4.70561 12.9559 4.39486C12.9559 4.08411 13.084 3.81776 13.2975 3.59579C13.511 3.37383 13.7671 3.24065 14.066 3.24065C14.3649 3.24065 14.6211 3.37383 14.8346 3.59579Z" />
        <rect x="0.561035" y="0.5" width="17.2748" height="18" fill="none" />
      </svg>
    </a>
    <a href="https://www.linkedin.com/company/bertone" class="hoverable" target="_blank">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.37123 4.09166C1.28195 4.09166 0.401123 3.17434 0.401123 2.04524C0.401123 0.916132 1.28309 0 2.37123 0C3.45708 0 4.3402 0.917322 4.3402 2.04524C4.3402 3.17434 3.45708 4.09166 2.37123 4.09166ZM4.09486 17.0004H0.715895V5.70703H4.09486V17.0004ZM13.3747 16.998H16.7514V10.804C16.7514 7.76294 16.1191 5.42383 12.6977 5.42383C11.0541 5.42383 9.95218 6.36019 9.50089 7.24776H9.45507V5.70462H6.21355V16.998H9.59023V11.4108C9.59023 9.93786 9.86055 8.51131 11.6188 8.51131C13.3518 8.51131 13.3747 10.196 13.3747 11.506V16.998Z" />
      </svg>
    </a>
  </div>
</nav>
<div class="menu-pop-bkg" js-menu-bkg></div>