{% block html_head_container %}
	<title>Carrozzeria Bertone | {{ post.meta_title }}</title>
	<meta name="description" content="{{ post.meta_description }}">
  {% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<div class="a-cursor" data-cursor>
	<div class="a-cursor__ball" data-cursor-inner></div>
</div>
	<body class="{{body_class}}" data-template="base.twig" data-barba="wrapper">
		{% include '/header.twig' %}
		<div class="curtain" data-curtain></div>
		<div data-main-scroll >
			<div data-barba="container" data-barba-namespace="page">
				{% block content %}
          <div class="page template-page">
						<div class="container">
							<h1 data-scroll data-scroll-speed="0.5">
								<span class="color--red" data-reveal-simple="0.5">{{ post.title }}</span>
							</h1>

							<div class="content">
								{{ post.acf_content }}
							</div>
						</div>
					</div>
				{% endblock %}
				{% block footer %}
					{% include 'footer.twig' %}
					{{ function('wp_footer') }}
				{% endblock %}
			</div>
		</div>
	</body>
</html>