<div class="about">
  {# INTRO #}
  <div class="about-intro">
    <div class="container">
      <h1 class="about-title title">
        <span class="color--red" data-line-reveal>In the hands of the two Ricci brothers,</span>
        <span data-line-reveal>the iconic brand prepares its legendary revival. </span>
      </h1>
    </div>
    <div class="about-intro-image" data-reveal-fade>
      <img src="{{site.theme.link}}/public/about-intro.jpg" alt="Intro image" class="desktop"/>
      <img src="{{site.theme.link}}/public/about-intro-mobile.jpg" alt="Intro image" class="mobile" />
    </div>
  </div>
  {# ENCART #}
{# 
  <div class="about-encart">
    <div class="container">
      <p class="about-encart-left">The two Ricci brothers, passionate about cars, </p>
      <p class="about-encart-right">plan to relaunch the brand and revive the Bertone myth.</p>
    </div>
    <div class="about-encart-image">
      <img src="{{site.theme.link}}/public/about-biography.jpg" alt="Encart image" />
    </div>
  </div> #}

  <div class="about-bio">
    <div class="about-bio-wrap">
      <div class="about-bio-intro">
        <div class="container">
          {# VALUES #}
          <div class="about-values">
            <h2 class="tagline about-values-tag" data-reveal-simple>Their values</h2>
            <ul class="about-values-list" data-line-reveal>
              <li>Respect</li>
              <li>Courage</li>
              <li>Ambition</li>
            </ul>
          </div>

          {# Experience #}
          <div class="about-experience">
            <div class="about-experience-intro">
              <h2 class="color--red title" data-line-reveal>Their <br/>experience</h2>
              <p data-reveal-simple>With a total of 38 years' experience in the global industry, with an emphasis on technologies, land, and air mobility, Mauro and Jean-Franck have worked with over 22,000 engineers, including 7,000 in the automotive sector, to make a shared dream a reality.</p>

              <p data-reveal-simple class="">In covering the entire cycle, from research and style to innovative development and testings .</p>
              <p data-reveal-simple class="">By directing influential projects, Mauro and Jean-Franck Ricci, have been able to exceed the expectations of some of the world's most prestigious manufacturers, such as Daimler, Volkswagen group, Stellantis and Renault, to name just a few. </p>
              {# <p data-reveal-simple>With more than 22,000 engineers, including 7,000 in the automotive sector, to cover the entire cycle of basic research through the style and development industrialization and testing and serial life the total experiencewith their own research centers that have been pioneers in the presentation of electric city cars in autonomous driving.</p> #}
            </div>
          </div>
        </div>
      </div>
      <div class="about-bio-image">
        <div class="about-bio-image-wrap" data-reveal-image>
          <img src="{{site.theme.link}}/public/about-experience.jpg" alt="experience image" />
        </div>
      </div>
    </div>
  </div>

  {# Citation #}
  <div class="about-quote">
    <div class="container">
      <blockquote>
        <p data-reveal-simple>They bring together<br/> <span class="color--red">all of their experience</span></p>
        <p data-reveal-simple>for the rebirth of <br/>La Carrozzeria Bertone.</p>
      </blockquote>
    </div>
  </div>
  {# STORY #}
   <div class="about-story">
    <div class="container">
      <div class="content">
        <div class="about-story-left">
          <h2 class=""><span data-reveal-simple>Today </span><span data-reveal-simple class="color--red">a new story </span><span data-reveal-simple class="color--red">begins</span></h2>
          <p data-reveal-simple>Mauro Ricci and Jean-Franck Ricci have decided to bring together all of their experience for the momentous rebirth of the renowned automotive firm, La Carrozzeria Bertone. </p>
          {# <p data-reveal-simple>For Mauro and Jean-Franck Ricci, Bertone must be THE HIGH PERFORMANCE CAR, history of the Bertone brand.</p> #}
        </div>
        <div class="about-story-right">
          <p data-reveal-simple >For them, it's paramount that Bertone is positioned as the leading, high-performance car, harnessing the rich history of the Italian brand to create new and exciting possibilities for the future.</p>
          <p data-reveal-simple >By designing legendary cars such as the Lamborghini Miura and Countach, and the Alfa Romeo Coupe Bertone, Bertone has a well-earned place in the automotive history books, which today are being dusted off to make way for a new, revolutionary chapter. </p>
{# 
          <p data-reveal-simple>Bertone has marked the history of the automobile by designing mythical cars, likeLamborghini Miura and Countach, the Alfa Romeo Coupe Bertone.</p>

          <p data-reveal-simple>Bodybuilder on the one hand, Bertone had also become an automotive subcontractor by hosting in its premises production units for manufacturers, the company had even become a car manufacturer by marketing vehicles under its own brand.</p> #}
        </div>
      </div>
       <div class="about-story-btn">
          {# ROUND BTN #}
          <a href="/" class="btn-round about-btn-history hoverable" data-reveal-simple>
            <span>Discover Bertone’s history</span>
            <svg width="246" height="246" viewBox="0 0 246 246" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="123" cy="123" r="122.5" stroke="#FF4409" stroke-opacity="0.5" stroke-dasharray="2 2"/>
            </svg>
          </a>
          {# END ROUND BTN #}
        </div>
    </div>
    <div class="about-story-image">
      <img src="{{site.theme.link}}/public/about-story.png" alt="story image" data-reveal-fade />
    </div>
  </div>
  {# more  #}
  <div class="about-more">
    <div class="about-more-content">
      <p class="tagline about-more-tagline" data-reveal-simple>Discover more</p>
      <h2 class="title about-more-title" data-line-reveal>Learn more about <br/>our expertise</h2>
      <div class="about-more-btn">
        <a href="/contact-us" type="button" class="btn btn--black hoverable" data-reveal-simple>
          Contact us
          <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 7.79144L0 0V2.32169L9.42646 9.66552V10.3345L0 17.6783V20L10 12.2061V7.79144Z" fill="white"/>
          </svg>
        </a>
      </div>
      <div class="about-more-image" data-reveal-simple>
        <img src="{{site.theme.link}}/public/about-discover.png" alt="story image" />
      </div>
    </div>
  </div>
</div>