<div class="models">
  <div class="models-slider swiper draggable" js-slider>
    <div class="swiper-wrapper">
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Lancia-Stratos Zero.jpg" alt="Coming soon">
          <h3>Lancia Stratos Zero</h3 js-slider>
        </div>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1280_AlfaRomeo-Bella" alt="Coming soon">
          <h3>Alfa Romeo Bella</h3 js-slider>
        </div>
      </div>
      <div class="models-slide models-slide models-slide--small models-slide--soon swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Coming-Soon.jpg" alt="Coming soon">
          <div class="top-title"><span class="">110 years</span><span class="">anniversary</span></div>
          <h3>Something special is coming soon!</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Bertone-Birusa.jpg" alt="Coming soon">
          <h3>Bertone Birusa</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1280_Cadillac-Villa.jpg" alt="Coming soon">
          <h3>Cadillac Villa</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide models-slide--small">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Bertone-Nuccio.jpg" alt="Coming soon">
          <h3>Bertone Nuccio</h3 js-slider>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1280_AlfaRomeo-Pandion.jpg" alt="Coming soon">
          <h3>Alfa Romeo Pandion</h3 js-slider>
        </div>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1280_Autobianchi-Runabout.jpg" alt="Coming soon">
          <h3>Autobianchi Runabout</h3>
        </div>
      </div>
      <div class="models-slide models-slide--small models-slide--soon swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Coming-Soon.jpg" alt="Coming soon">
          <div class="top-title"><span class="">110 years</span><span class="">anniversary</span></div>
          <h3>Something special is coming soon!</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Lamborghini-Countach.jpg" alt="Coming soon">
          <h3>Lamborghini Countach</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1280_Lamborghini-Marzal.jpg" alt="Coming soon">
          <h3>Lamborghini Marzal</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide models-slide--small">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Lamborghini-Miura.jpg" alt="Coming soon">
          <h3>Lamborghini Miura</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1280_Lancia-Stratos.jpg" alt="Coming soon">
          <h3>Lancia Stratos</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide models-slide--small">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Bertone-Nicola.jpg" alt="Coming soon">
          <h3>Bertone Nivola</h3>
        </div>
      </div>
    </div>
  </div>
</div>