<div class="models">
  <div class="models-slider swiper draggable" js-slider>
    <div class="swiper-wrapper">
      <div class="models-slide models-slide--small models-slide--soon swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/comingsoon.jpeg" alt="Coming soon">
          <h3>Coming soon...</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/maserati.jpg" alt="Coming soon">
          <h3>Maserati Khamsin</h3 js-slider>
        </div>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/romeo.jpg" alt="Coming soon">
          <h3>Alfa Roméo Montreal</h3 js-slider>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/lamborghini.jpg" alt="Coming soon">
          <h3>Lamborghini Espada</h3>
        </div>
      </div>
      <div class="models-slide models-slide--small models-slide--soon swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/comingsoon.jpeg" alt="Coming soon">
          <h3>Coming soon...</h3>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/maserati.jpg" alt="Coming soon">
          <h3>Maserati Khamsin</h3 js-slider>
        </div>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/romeo.jpg" alt="Coming soon">
          <h3>Alfa Roméo Montreal</h3 js-slider>
        </div>
      </div>
      <div class="models-slide swiper-slide">
        <div class="models-slide_inner">
          <img src="{{site.theme.link}}/public/lamborghini.jpg" alt="Coming soon">
          <h3>Lamborghini Espada</h3>
        </div>
      </div>
    </div>
  </div>
</div>