<div class="models">
  <div class="models-slider swiper draggable" js-slider>
    <div class="swiper-wrapper" id="lightgallery">
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1970_LANCIA_STRATOS_ZERO_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1580_Lancia-Stratos Zero-min.jpg" alt="Coming soon">
          <h3>Lancia Stratos Zero</h3 js-slider>
        </a>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1999_ALFA_ROMEO_BELLA_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1280_AlfaRomeo-Bella-min.jpg" alt="Coming soon">
          <h3>Alfa Romeo Bella</h3 js-slider>
        </a>
      </div>
{#      <div class="models-slide models-slide models-slide--small models-slide--soon swiper-slide">#}
{#        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/BERTONE_1000x1580_Lancia-Stratos Zero.jpg">#}
{#          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Coming-Soon.jpg" alt="Coming soon">#}
{#          <div class="top-title"><span class="">110 years</span><span class="">anniversary</span></div>#}
{#          <h3>Something special is coming soon!</h3>#}
{#        </a>#}
{#      </div>#}
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_12003_BERTONE_BIRUSA_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1580_Bertone-Birusa-min.jpg" alt="Coming soon">
          <h3>Bertone Birusa</h3>
        </a>
      </div>
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_12005_CADILLAC_VILLA_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1280_Cadillac-Villa-min.jpg" alt="Coming soon">
          <h3>Cadillac Villa</h3>
        </a>
      </div>
      <div class="models-slide swiper-slide models-slide--small">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_12012_BERTONE_NUCCIO_06-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1580_Bertone-Nuccio-min.jpg" alt="Coming soon">
          <h3>Bertone Nuccio</h3 js-slider>
        </a>
      </div>
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1ALFA_ROMEO_PANDION-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1280_AlfaRomeo-Pandion-min.jpg" alt="Coming soon">
          <h3>Alfa Romeo Pandion</h3 js-slider>
        </a>
      </div>
      <div class="models-slide models-slide--small swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1AUTOBIANCHI_RUNABOUT_-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1280_Autobianchi-Runabout-min.jpg" alt="Coming soon">
          <h3>Autobianchi Runabout</h3>
        </a>
      </div>
{#      <div class="models-slide models-slide--small models-slide--soon swiper-slide">#}
{#        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/BERTONE_1000x1580_Lancia-Stratos Zero.jpg">#}
{#          <img src="{{site.theme.link}}/public/BERTONE_1000x1580_Coming-Soon.jpg" alt="Coming soon">#}
{#          <div class="top-title"><span class="">110 years</span><span class="">anniversary</span></div>#}
{#          <h3>Something special is coming soon!</h3>#}
{#        </a>#}
{#      </div>#}
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1LAMBORGHINI_COUNTACH_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1580_Lamborghini-Countach-min.jpg" alt="Coming soon">
          <h3>Lamborghini Countach</h3>
        </a>
      </div>
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1LAMBORGHINI_MARZAL_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1280_Lamborghini-Marzal-min.jpg" alt="Coming soon">
          <h3>Lamborghini Marzal</h3>
        </a>
      </div>
      <div class="models-slide swiper-slide models-slide--small">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1LAMBORGHINI_MIURA_01-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1580_Lamborghini-Miura-min.jpg" alt="Coming soon">
          <h3>Lamborghini Miura</h3>
        </a>
      </div>
      <div class="models-slide swiper-slide">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1LANCIA_STRATOS-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1280_Lancia-Stratos-min.jpg" alt="Coming soon">
          <h3>Lancia Stratos</h3>
        </a>
      </div>
      <div class="models-slide swiper-slide models-slide--small">
        <a class="models-slide_inner" data-barba-prevent data-fslightbox href="{{site.theme.link}}/public/full_1BERTONE_NIVOLA-min.jpg">
          <img src="{{site.theme.link}}/public/aa_BERTONE_1000x1580_Bertone-Nicola-min.jpg" alt="Coming soon">
          <h3>Bertone Nivola</h3>
        </a>
      </div>
    </div>
  </div>
</div>